registry=https://registry.npmjs.org/
fetch-retries=5
fetch-retry-factor=2
fetch-retry-mintimeout=10000
fetch-retry-maxtimeout=60000
fetch-timeout=300000
network-timeout=300000
legacy-peer-deps=true
strict-peer-dependencies=false
fund=false
audit=false
